.parte1 {
    background-color: white;
    border: 1px solid black;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.parte2 {
    background-color: white;
    border: 1px solid black;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.parte3 {
    background-color: white;
    border: 1px solid black;
    width: 850px;
    display: inline-flex;
    justify-content: space-between;
    
}

.uno {
    background-color: red;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.dos {
    background-color: blue;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tres {
    background-color: green;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}